<div class="min-h-screen flex justify-center max-w-full items-center dark:bg-[#392358] bg-[#875da9]">
  <div class="flex md:flex-row flex-col gap-8 px-4 py-12 justify-center md:justify-start w-4xl">
    <div>
      <div class="mb-8">
        <h2 class="text-4xl font-extrabold">Projects</h2>
      </div>
      <div class="flex flex-col md:flex-row gap-9 justify-around items-center mb-12">
        <div>
          <div class="mb-2">
            <a
              href="https://chromewebstore.google.com/detail/deletudo/aojjacdnefgogmkmigpdgbfimfjfpghn?hl=en"
              target="_blank"
              rel="noopener noreferrer"
              class="font-bold"
            >
              <h3 class="text-2xl font-bold">Deletudo</h3>
            </a>
            <p class="text-lg">
              Chrome/Firefox extensions to allow you to use the "del" key directly to delete an email, I made it trying to keep my hands on the keyboard while <i>Fast reading</i> and <i>Deleting</i> those emails that I don't want to keep.
            </p>
          </div>
          <div>
            <div>
              <span class="mr-2">Site:</span>
              <a
                href="https://chromewebstore.google.com/detail/deletudo/aojjacdnefgogmkmigpdgbfimfjfpghn?hl=en"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                Chrome Web Store: Deletudo
              </a>
            </div>
            <div>
              <span class="mr-2">Github:</span>
              <a
                href="https://github.com/enBonnet/deletudo"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                enbonnet/deletudo
              </a>
            </div>
          </div>
        </div>
        <div class="min-w-44 max-w-44 shadow-black shadow-sm rounded-lg">
          <img
            class="rounded-lg"
            src="/images/deletudo-store-screenshot.png"
            alt="Deletudo extension"
          />
        </div>
      </div>
      <div class="flex md:flex-row flex-col-reverse gap-9 justify-around items-center mb-12">
        <div class="min-w-44 max-w-44 shadow-black shadow-sm rounded-lg">
          <img
            class="rounded-lg"
            src="/images/routes-react-router-screenshot.png"
            alt="Routes React Router"
          />
        </div>
        <div>
          <div class="mb-2">
            <a
              href="https://github.com/enBonnet/routes-react-router"
              target="_blank"
              rel="noopener noreferrer"
              class="font-bold"
            >
              <h3 class="text-2xl font-bold">Routes - React Router</h3>
            </a>
            <p class="text-lg">
              Routes is a VSCode extension that adds helpful annotations to your routes.ts
              files when working with react-router. It displays clickable
              CodeLens links above each route or index declaration, showing
              the full path derived from nested prefix() and route()
              structures.
            </p>
          </div>
          <div>
            <div>
              <span class="mr-2">VSCode Extension:</span>
              <a
                href="https://marketplace.visualstudio.com/items?itemName=enBonnet.routes-react-router"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                enBonnet.routes-react-router
              </a>
            </div>
            <div>
              <span class="mr-2">Open VSX:</span>
              <a
                href="https://open-vsx.org/extension/enBonnet/routes-react-router"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                enBonnet/routes-react-router
              </a>
            </div>
            <div>
              <span class="mr-2">Github:</span>
              <a
                href="https://github.com/enBonnet/routes-react-router"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                enBonnet/routes-react-router
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-9 justify-around items-center mb-12">
        <div>
          <div class="mb-2">
            <a
              href="https://ilpane.lat"
              target="_blank"
              rel="noopener noreferrer"
              class="font-bold"
            >
              <h3 class="text-2xl font-bold">Il Pane</h3>
            </a>
            <p class="text-lg">
              An easy way to craft and share bread recipes, pretty cool it
              calculates the amount of hydration based on the absorption
              capacity of each ingredient or the user can adjust the
              percentage of humidity.
            </p>
          </div>
          <div>
            <div>
              <span class="mr-2">Site:</span>
              <a
                href="https://ilpane.lat"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                ilpane.lat
              </a>
            </div>
            <div>
              <span class="mr-2">Github:</span>
              <a
                href="https://github.com/enbonnet/ilpane"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                enbonnet/ilpane
              </a>
            </div>
          </div>
        </div>
        <div class="min-w-44 max-w-44 shadow-black shadow-sm rounded-lg">
          <img
            class="rounded-lg"
            src="/images/ilpane-screenshot.png"
            alt="Il Pane"
          />
        </div>
      </div>
      <div class="flex md:flex-row flex-col-reverse gap-9 justify-around items-center">
        <div class="min-w-44 max-w-44 shadow-black shadow-sm rounded-lg">
          <img
            class="rounded-lg"
            src="/images/frontend-tools-screenshot.png"
            alt="Frontend Tools"
          />
        </div>
        <div>
          <div class="mb-2">
            <a
              href="https://github.com/enBonnet/Frontend-Tools"
              target="_blank"
              rel="noopener noreferrer"
              class="font-bold"
            >
              <h3 class="text-2xl font-bold">Frontend Tools</h3>
            </a>
            <p class="text-lg">
              A collection of tools for frontend developers, including a
              color picker, a font size calculator, and a responsive design
              tool.
            </p>
          </div>
          <div>
            <div>
              <span class="mr-2">Github:</span>
              <a
                href="https://github.com/enBonnet/Frontend-Tools"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold"
              >
                enBonnet/Frontend-Tools
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>