:root {
  --text-bg: #08001f;
  --text-with-bg: #fff;
  --purple-color: #9d8df1;
  --green-color: #1cfeba;
  --text-gradient: linear-gradient(
    90deg,
    var(--green-color),
    var(--purple-color)
  );
  --actions-text-size: 1.2em;
}
