:root {
  --text-bg: #08001f;
  --text-underline: #41463d;
  --text-with-bg: #fff;
  --purple-color: #9d8df1;
  --green-color: #1cfeba;
  --app-bg: rgb(242, 242, 242);
  --input-bg: rgba(255, 255, 255, 50%);
  --input-border: 1px solid rgba(189, 189, 189, 50%);
  --input-border-focus: 1px solid rgb(189, 189, 189);
  --box-shadow: 2px 3px 7px rgb(165, 165, 165);
  --list-bg: rgb(250, 250, 250);
  --list-bg-hover: rgb(255, 255, 255);
  --divider-underline: 1px solid rgba(0, 0, 0, 30%);
  --text-gradient: linear-gradient(
    90deg,
    var(--green-color),
    var(--purple-color)
  );
  --actions-text-size: 1.2em;
}
